<div class="w-full">
  <h1 class="mb-4 text-4xl font-black">Editing print</h1>

  <%= render "form", print: @print %>

  <br>

  <div>
    <%= link_to "Show this print", @print %> |
    <%= link_to "Prints", prints_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
