<h1 class="mb-4 text-4xl font-black">Editing substrate</h1>

<%= render "form", substrate: @substrate %>

<br>

<div>
  <%= link_to "Show this substrate", @substrate %> |
  <%= link_to "Back to substrates", substrates_path %>
</div>
