<div class="w-full">
  <h1 class="mb-4 text-4xl font-black">New media</h1>

  <%= render "form", substrate: @substrate %>

  <br>

  <div>
    <%= link_to "Back to media", substrates_path %>
  </div>
</div>
