<div class="w-full">
  <h1 class="mb-4 text-4xl font-black">New frame</h1>

  <%= render "form", frame: @frame %>

  <br>

  <div>
    <%= link_to "Frames", frames_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
