<div class="w-full">
  <h1 class="mb-4 text-4xl font-black">Editing photo</h1>

  <%= render "form", photo: @photo %>

  <br>

  <div>
    <%= link_to "Show this photo", @photo %> |
    <%= link_to "Back to photos", photos_path %>
  </div>
</div>
